.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
	left: 0px;
	display: none;
	z-index: 100;
}
#IML_pvz{
	background-color : white;
	/*padding          : 10px;*/
	overflow         : auto;
	font-family      : Verdana;
	width            : 900px;
	position: relative;
	margin: 50px auto 0px auto;
}
.IML_menu_popup {
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
	left: 0px;
	display: none;
}
.IML_menu_popup_inside {
	background-color : white;
	/*padding          : 10px;*/
	overflow         : auto;
	font-family      : Verdana;
	width            : 900px;
	position: relative;
	margin: 50px auto 0px auto;
}
#IML_mask{
	width            : 100%;
	height           : 100%;
	opacity          : 0.8;
	position         : fixed;
	z-index          : 2000;
	background-color : black;
	display          : none;
	top              : 0px;
	padding          : 5px
}
#IML_head{
	height:35px;
	clear: both;
	padding-top: 7px;
}
#IML_logo{
	background  : url('../../../image/catalog/widjet/logo.png') no-repeat transparent;
	width       : 169px;
	height      : 11px;
}
#IML_logo:hover{
	background-position: 0px -12px;
}
#IML_logo a{
	text-decoration : none;
	width           : 100%;
	height          : 100%;
	display         : block;
}
#IML_closer{
	position   : absolute;
	background : url('../../../image/catalog/widjet/close.png') no-repeat transparent;
	height     : 22px;
	width      : 22px;
	right      : 15px;
	top        : 18px;
	z-index    : 1000;
	cursor     : pointer;
}
#IML_closer:hover{
	background-position: 0px -22px;
}
#IML_map{
	float: left;
	height: 500px;
	width: 600px;
}
#IML_info{
	float:left;
	height: 500px;
	overflow: hidden;
	width: 300px;
	color: black;
}
#IML_info > div{
	width:600px;
}
#IML_wrapper,#IML_detail{
	float: left;
	height: 500px;
	overflow: auto;
	width: 300px;
	border: none;
	outline: none;
}
#IML_wrapper p{
	cursor : pointer;
	padding: 5px 6px;
	margin:  5px 6px;
	font-size: 12px;
}
.iml_chosen{
	background-color : #ebebeb;
}
#IML_detail p{
	padding: 0px 10px;
	font-size: 12px;
	margin-top:30px;
	line-height: 18px;
}
#IML_detail p img{
	width: 280px;
}
#IML_back{
	background: url('../../../image/catalog/widjet/back.png') no-repeat transparent;
	font-size: 14px;
	height: 20px;
	margin: 10px 0px 0px 10px;
	padding-left:35px;
	cursor: pointer;
}
#IML_back:hover{
	background-position: 0px -20px;
}
#IML_back:active{
	background-position: 0px -40px;
}
/*балун*/
#IML_baloon{
	background-color:white;
	/* width: 258px; */
	font-family: Verdana;
	font-size: 12px;
}
#IML_baloon > div{
	margin: 10px 0px;
}
.iml_baloonDiv a{
	color: #666666;
	text-decoration: none;
	border-bottom:1px dashed #666666;
}
.iml_baloonDiv a:hover{
	border-bottom:1px dashed white;
}
.iml_baloonDiv{
	max-width: 235px;
	padding-left:8px;
	float:left;
}
.iml_icon{
	float:left;
	width:12px;
	min-height: 12px;
	margin-top:4px;
}
#IML_iPlace{background: url('../../../image/catalog/widjet/place.png') 1px no-repeat;}
#IML_iTelephone{background: url('../../../image/catalog/widjet/phone.png') no-repeat;}
#IML_iTime{background: url('../../../image/catalog/widjet/clock.png') no-repeat;}
#IML_iPrice{background: url('../../../image/catalog/widjet/pay.png') no-repeat;}
#IML_button{
	width:130px;
	height:25px;
	background: url('../../../image/catalog/widjet/chooze.png') no-repeat;
	display: block;
	margin: auto;
	text-decoration:none;
}
#IML_button:hover{
	background-position: 0px -25px;
}
#IML_title{
	padding-bottom: 12px;
	border-bottom: 1px solid #e5e5e5;
	width: 898px;
}
#IML_title > div,#IML_cityPicker > div{
	font-size: 12px;
	font-family: Verdana;
	float:left;
}
#IML_cityPicker > div:first-child{
	padding-top:9px;
	margin-bottom: 10px;
}
#IML_cityPicker{
	width: 300px;
}
#IML_citySel{
	display:none;
}
#IML_cityName{
	text-decoration:none;
	border-bottom:1px dotted #007ACF;
}
#IML_cityLabel{
	padding: 9px 12px 0px 12px;
}
#IML_cityLabel a{
	margin-bottom: 9px;
	color: #3366CC;
	display:block;
}
#IML_cityLabel a:hover{
	color: #24478F;
	text-decoration: none !important;
}
#IML_cityLabel:hover {
	background: #FFFFFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.506);
	position: absolute;
	z-index: 100;
}
#IML_cityLabel:hover > #IML_citySel{
	display: block;
}
#IML_cityLabel:hover > #IML_cityName{
	text-decoration:underline;
	border-bottom:none;
}
#IML_listOfCities{
    max-height: 515px;
    overflow: hidden;
}
.IML_mark{
	height: 32px;
	width: 143px;
	padding-left: 5px;
	line-height: 20px;
	cursor: default;
}
#IML_logoPlace{
	width: 300px;
	height: 38px;
	background-image: url("../../../image/catalog/IMLogo.png");
	background-repeat:no-repeat;
	background-position: 241px 2px;
}
#IML_separator{
	background-color: #e3e3e3;
	width: 1px;
	height: 38px;
}
#IML_cDate,#IML_pDate{
	cursor: help;
}
.IPOLIML_DATEOC{
	font-size: 10px;
}
#IML_citySearcher{
	margin-bottom: 5px;
}

.select-pvz-on-map-hd
{

display: none;
}